<!-- Jumbotron -->
<div
  class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center h-screen"
  style="background-image: url('../../public/img/hero-bg.png');">
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <h2 class="mb-4 text-4xl font-semibold">Repuestos en general para camiones de todas las marcas.</h2>
        <h4 class="mb-6 text-xl font-semibold">Somos una empresa importadora de repuestos.</h4>
    
      </div>
    </div>
  </div>
</div>

<div class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center h-screen"
  style="background-image: url('../../public/img/nosotrosDwa.jpg');">

   <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
    >
    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <h2 class="mb-4 text-5xl text-red-600 ">NUESTRA EMPRESA</h2>
        <h4 class="mb-6 text-2xl  text-red-600">Lo mejor del mercado</h4>
       
      </div>
    </div>
  </div>


</div>

<div class="bg-black pb-20">

<div class="mx-auto w-2/3 my-5 pt-20">
  <p class="text-white text-5xl mb-5">
    Historia
  </p>

  <div>
    <p class="text-white py-10 text-xl">IKOMI PERU es una compañía dedicada a la importación y comercialización de repuestos automotrices al por mayor y por menor para vehículos medianos y pesados de las principales marcas de origen koreano y japonés.</p>
    <p class="text-white py-10 text-xl">Nuestra empresa viene satisfaciendo las necesidades del rubro a nivel nacional desde 2009, cumpliendo con los estándares de calidad, seguridad y sostenibilidad que el mercado actual demanda.</p>
    <p class="text-white py-10 text-xl" >IKOMI PERU, además de 15 años de presencia en el mercado peruano, cuenta con el respaldo de sus más de 3000 clientes y se posiciona como una de las empresas más destacadas en el rubro a nivel nacional.</p>

  </div>

    <div class="">
    <div class="grid grid-cols-2">
      <div class="p-5">
        <p class="text-gray-400 text-3xl text-white">Mision</p>
        <p class="text-gray-400">En IKOMI PERU, nos comprometemos a satisfacer a nuestros clientes a través de colaboradores 
          capacitados y mejora continua en la cadena de suministro. Valoramos la responsabilidad social y sostenibilidad,
          buscando un sistema de distribución ágil y seguro, minimizando nuestro impacto ambiental para construir un futuro 
          ético y sostenible.</p>
      </div>

        <div class="p-5">
            <p class="text-gray-400 text-3xl text-white">Vision</p>
        <p class="text-gray-400">En IKOMI PERU, buscamos ser líderes reconocidos en el rubro automotriz, destacándonos por la calidad excepcional de nuestros productos y servicios. Nos esforzamos por superar expectativas, impulsados por la innovación constante y la excelencia en la satisfacción del cliente.</p>
      </div>
  </div>

  <div class="grid grid-cols-2">
      <div class="p-5">
          <p class="text-gray-400 text-3xl text-white">Proveedores</p>
      <p class="text-gray-400">Entre nuestros proveedores se encuentran las mejores compañías de manufactura a nivel global, muchas de ellas certificadas con ISO 9001. Nuestras relaciones comerciales nos permiten realizar importaciones provenientes de diversas partes del mundo, potenciando el stock disponible con más de 5000 ítems diferentes.</p>
    </div>

      <div class="p-5">
          <p class="text-gray-400 text-3xl text-white">Logistica</p>
      <p class="text-gray-400">La logística, se ha convertido para IKOMI PERU en una herramienta indispensable para ser eficiente, rentable y competitivo dentro de las exigencias del mercado actual de almacenamiento y distribución de pedidos de repuestos.</p>
    </div>
  </div>

  </div>

</div>







</div>

<div class="bg-gray-100">

   <div class="w-2/3 mx-auto ">
    <div class="grid grid-cols-2">
      <div class="p-5 text-center m-10 bg-white">
        <p class=" text-5xl text-bold">232</p>
        <p class="text-3xl text-gray-800 py-5">Clientes Satisfechos</p>
      </div>

        <div class="p-5 text-center m-10 bg-white">
            <p class=" text-5xl text-bold">521</p>
        <p class="text-3xl text-gray-800 py-5">Proyectos</p>
      </div>
  </div>

  <div class="grid grid-cols-2">
      <div class="p-5 text-center m-10 bg-white">
          <p class=" text-5xl text-bold">1463</p>
      <p class="text-3xl text-gray-800 py-5">Ventas</p>
    </div>

      <div class="p-5 text-center m-10 bg-white">
          <p class=" text-5xl text-bold">15</p>
      <p class="text-3xl text-gray-800">Asesoría</p>
    </div>
  </div>

  </div>
</div>

<div class="bg-black pb-20">

<div class="mx-auto w-2/3 my-5 pt-20">
  <p class="text-white text-5xl mb-5">
    Servicios
  </p>
  <hr>
  <p>
    Estamos listos para atender
  </p>

  

    <div class="">
    <div class="grid grid-cols-2">
      <div class="p-5 bg-slate-900 rounded-lg m-5">
        <p class="text-gray-400 text-3xl text-white">Ventas</p>
        <p class="text-gray-400">Venta de los mejores repuestos de partes de motor, cajas, transmisiones, piñones, coronas y trenes fijos de las marcas de Korea y Japon. A los mejores precios del mercado.</p>
      </div>

        <div class="p-5 bg-slate-900 rounded-lg m-5">
            <p class="text-gray-400 text-3xl text-white">Asesoría</p>
        <p class="text-gray-400">Le brindamos una asesoría personalidad acerca de nuestros productos, a elegir el mejor repuesto para su movilidad.</p>
      </div>
  </div>

  <div class="grid grid-cols-2">
      <div class="p-5 bg-slate-900 rounded-lg m-5">
          <p class="text-gray-400 text-3xl text-white">Delivery</p>
      <p class="text-gray-400">Compras sin salir de casa, realizamos entregas a domicilio en el menor tiempo posible.</p>
    </div>

      <div class="p-5 bg-slate-900 rounded-lg m-5">
          <p class="text-gray-400 text-3xl text-white">Logistica</p>
      <p class="text-gray-400">La logística, se ha convertido para IKOMI PERU en una herramienta indispensable para ser eficiente, rentable y competitivo dentro de las exigencias del mercado actual de almacenamiento y distribución de pedidos de repuestos.</p>
    </div>
  </div>

  </div>

</div>







</div>








<div class="pt-20">
  <p class="text-5xl text-center">FORMULARIO</p>
   <form class="grid sm:grid-cols-2 gap-4 grid-cols-1 w-2/3 mx-auto my-10" >
          <div>
            <label htmlFor="nombre" class="block text-sm font-medium text-gray-700">
              Nombre
            </label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              placeholder="Nombre"
              class="mt-1 p-2 border border-gray-300 rounded-md w-full"
            />
          </div>
  
          <div>
            <label htmlFor="apellido" class="block text-sm font-medium text-gray-700">
              Apellido
            </label>
            <input
              type="text"
              id="apellido"
              name="apellido"
              placeholder="Apellido"
              class="mt-1 p-2 border border-gray-300 rounded-md w-full"
            />
          </div>
  
          <div>
            <label htmlFor="correo" class="block text-sm font-medium text-gray-700">
              Correo Electrónico
            </label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Correo Electrónico"
              class="mt-1 p-2 border border-gray-300 rounded-md w-full"
            />
          </div>

           <div>
            <label htmlFor="correo" class="block text-sm font-medium text-gray-700">
              Telefono
            </label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Telefono"
              class="mt-1 p-2 border border-gray-300 rounded-md w-full"
            />
          </div>
  
          <div>
            <label htmlFor="telefono" class="block text-sm font-medium text-gray-700">
              Asunto
            </label>
            <input
              type="text"
              id="telefono"
              name="telefono"
              placeholder="Asunto"
              class="mt-1 p-2 border border-gray-300 rounded-md w-full"
            />
          </div>
  
      
  
          <div>
            <label htmlFor="puesto" class="block text-sm font-medium text-gray-700">
              Mensaje
            </label>
            <textarea placeholder="Mensaje" name="" id="" cols="30" rows="5" class="mt-1 p-2 border border-gray-300 rounded-md w-full"></textarea>
          </div>

         
         
            <button
              type="submit"
              class="w-full p-2 bg-[#B22222] text-white rounded-md hover:bg-red-700
              col-span-2 mt-4"
            >
              Enviar
            </button>
          
        </form>
</div>


